<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX8ontxNkk8AtgKIN4tr7bH3QjWJbNXpI</string>
	<key>GCM_SENDER_ID</key>
	<string>668988659866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-prep-19820</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-prep-19820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668988659866:ios:1289b5503efe8c6c3aa723</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-prep-19820-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>